body, p, label, span, h2, h3, h4, h5, .ptag {
    font-family: Arial, Helvetica, sans-serif;
}

.id-card-container {
    width: 660px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.id-card {
    overflow: hidden;
    position: relative;
    color: white;
    font-weight: bold;
    padding: 1px 10px;
    overflow: hidden;
    margin: 11px auto;
    width: max-content;
    border-radius: 5px;
    background: lightseagreen;
    box-shadow: 0 0 2px #3f425499;
}

.details {
    width: 100%;
    margin: auto;
}

.id-card-table {
    min-width: 100%;
    padding-top: 10px;
    margin: 0 !important;
    overflow: hidden;
    position: relative;
}

.id-card-table:last-child {
    margin: 0 !important;
}

.id-card-table tr {
    overflow: hidden;
    position: relative;
    min-width: 100%;
    border-bottom: 0 !important;
}

.id-card-table tr td.back-part {
    position: relative;
    padding: 2px 4px 4px 1px !important;
    border-right: 1px dotted black;
    border-bottom: 1px dotted black;
}

.id-card-table tr td:nth-child(1) {
    border-left: 0 !important;
}

.id-card-table tr:nth-child(1) td {
    border-top: 0 !important;
}
.id-card-table tr:last-child td {
    border-bottom: 0 !important;
}

.id-card-table tr td:last-child {
    border-right: 0 !important;
    padding-right: 0 !important;
}

img.layout {
    width: 212px;
    height: 329px;
    position: relative;
    margin-left: 1px;
    z-index: 1;
}
.id-card-table tr td:last-child img.layout {
    width: 211px !important;
}

.id-card-table td .contain {
    top: 2px;
    left: 2px;
    margin: auto;
    z-index: 999;
    width: 211px;
    height: 326px;
    position: absolute;
    padding: 1px 0px 2px 1px;
    color: black !important;
    border: 0.1px solid #e0e0e0;
}

.id-card-table tr td.back-part, .id-card-table td.back-part .contain {
    overflow: hidden;
}

.logo {
    width: 100%;
    margin: 18px auto 10px auto;
    text-align: center;
}

.logo img {
    margin: auto;
    width: 45px;
    border-radius: 50%;
    box-shadow: 0 0 2px black;
}

.institute {
    width: 211px;
    margin-top: 12px;
    position: relative;
    text-align: center;
}

.institute h1 {
    width: 211px;
    text-align: center;
    color: #32347e;
    font-size: 12px;
    line-height: 0;
    letter-spacing: -0.3px;
    font-weight: 700 !important;
    font-family: 'Roboto Condensed', sans-serif;
}

.identity {
    font-size: 9px;
    font-weight: 700;
    color: #f9ea00;
    background-color: #009141;
    width: 68px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 5px;
    padding: 5px 5px 4px 5px;
    border-radius: 50px;
    line-height: 6px;
    font-family: 'Roboto Condensed', sans-serif;
}
.user-photo {
    width: 84px;
    height: 90px;
    margin: auto;
    margin-bottom: 8px;
}

.user-photo img {
    width: 84px;
    height: 90px;
    border-radius: 0;
    margin: 0 auto;
    border: 1px solid #8c8c8c;
    background: white;
    margin-top: 4px;
}

.academic-info {
    padding-left: 13px;
    margin-top: 5px;
    width: 100%;
}

.academic-info p {
    margin: 0;
    font-size: 10px;
    line-height: 12px;
    color: black !important;
}

.academic-info label {
    width: 34px;
    text-align: left;
    font-weight: bold;
    line-height: 8px;
    font-size: 10px;
    display: inline-block;
}
.academic-info p b {
    padding-right: 3px;
}

.academic-info p > span {
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    text-transform: uppercase;
}

.academic-info p label.user-name {
    font-size: 11px !important;
    line-height: 3px;
}

p.name label {
    font-size: 10px;
    text-transform: uppercase;
    line-height: 12px;
}

p.validity {
    font-size: 10px;
    font-weight: bold;
    width: max-content;
    margin: 7px 0 0 13px;
}

.signature {
    position: absolute;
    width: 45px;
    right: 8px;
    bottom: 7px;
}

.signature img {
    height: 18px;
    width: 100%;
}

.principal {
    margin: 0;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    line-height: 10px;
    border-top: 0.1px solid #5a5a5a;
}

.back tr td {
    padding-left: 0px !important;
    border: 0 !important;
}

.back h2 {
    width: 155px;
    margin: 15px 0 12px 8px;
    line-height: 0;
    padding: 8px 3px 5px 5px;
    border-bottom: 1px solid #585858;
}

.back .contain p {
    margin-top: 0;
    margin-bottom: 1px;
    font-size: 7px;
    line-height: 8px;
    color: #000;
}

.back .contain .mast {
    margin: 14px 0 2px 0px;
    font-size: 8px;
}


.contact {
    text-align: center;
    font-size: 6.8px !important;
}

p.new-line {
    padding-left: 8px;
}

.app-information-section {
    margin: 8px auto;
    padding-top: 2px;
    text-align: center;
    width: max-content;
    border-top: 0.1px solid black;
}

.app-information-section p {
    text-align: center;
    line-height: 6px;
    font-size: 6px;
    margin: 0;
}

table tr td.border-0 {
    border: 0 !important;
}

table.back tr td {
    z-index: 9;
}

td.back-part {
    z-index: 99;
}

.found {
    width: 175px;
    height: 15px;
    line-height: 13px;
    text-align: center;
    background: green;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}
.back .contain {
    position: relative !important
}

h6.school {
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    margin: 4px 0 5px 0;
    font-family: 'Roboto Condensed', sans-serif !important;
}

.layer {
    padding: 0 8px 0 18px;
}
